@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap');

:root {
    --color-purple: #6C63FF;
    --color-green: #2fe08e;
    --color-dark: #111;
    --color-orange:#fd5130;
    --color-white:#e4e6ef;;
    --box-shadow:box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: var(--color-dark);
    color: var(--color-white);
}

.cabecalho{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--color-dark);
    box-shadow: var(--box-shadow);
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

/* Estilos para o menu responsivo */
.menu-icon {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* Esconder o menu quando a largura da tela for menor ou igual a 768px */
    .menu ul {
        display: none;
    }

    /* Mostrar o ícone do menu */
    .menu-icon {
        display: block;
    }

    /* Estilos para o menu aberto */
    .menu.open ul {
        display: block;
    }
}


.cabecalho nav{
    display: flex;
    max-width: 45%;
    min-width: 45%;
    justify-content: space-between;
    align-items: center;
}
.logo span{
    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s;
    color: var(--color-white); 
    padding: 0 15px;
    border: 0.1rem solid var(--color-green);
    border-radius: 20px;   
}
.logo span:hover{
    color: var(--color-green);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;  
    gap: 15px;
}

a{
    text-decoration: none;
    color: var(--color-white);
    
}

.menu ul li a{
    
    color: var(--color-white);
    transition: 1s;
}
.menu ul li a:hover{
    color: var(--color-green);
}
.contact a i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}
.contact a i{
    font-size:1.2rem ;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    transition: .5s;
    border: 0.1rem solid var(--color-green);
    border-radius: 50%;
    
}

.contact a i:hover{
    color: var(--color-green);
}

.home-page{
    min-width: 400px;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    flex-direction: rows;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.home-main{
    max-width: 100%;
    max-height: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}*/

.left-division{ 
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact a{
    font-size: 1.7rem;
}


img[src]{
    width: 100%;
}
.right-division{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.cv{
    margin-top: 1rem;
    background-color: var(--color-purple);
    padding: 10px 20px;
    border-radius: .5rem;
}



/*--------------------------PAGINA 02 ----------------------------------------------------------------------------*/

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
}

.content p{
    max-width: 650px;
    width: auto;
    padding:0  50px;

}

h1{
    text-align: center;
    font-size: 2rem;
    
}

.home-page2{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6C63FF;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.home-main2{
    width: 100%;
    min-width: 600px;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tec{
    display: flex;
    /*padding: 1rem;*/
    gap: 1rem;
    margin-top: 1rem;
}

.tec img{
    max-width: 5rem;
    /*box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    /*background-color: var(--color-white);*/
    transition: .5s;
}

.tec img:hover{
    transform: scale(1.1);
}

.gallery {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.35);
    overflow-x: scroll;
    white-space: nowrap;
    padding: 2rem;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-green);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}
  
  .card {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    margin-right: 10px;
  }

  .home-page3{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}
/*----------------------------------------------------Seta para voltar ao topo---------------------------------------------------------------------------------------*/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  #back-to-top span i {
    display: flex;
    background-color: var(--color-green);
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 30px;
    max-height: 30px;
    min-height: 20px;
    min-width: 20px;
    transform: rotate(0deg);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    
  }
  
  #back-to-top.hidden {
    opacity: 0;
    pointer-events: none;
  }
  

  